<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Listed Tasks</h2>
        <hr class="divider" />
        <a routerLink="/add-providers" routerLinkActive="active" class="btn btn-primary btn-sm my-2">Add New Task</a>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let provider of providers; index as i">
                    <tr>
                        <td scope="row">{{ provider.id }}</td>
                        <td scope="row">{{ provider.firstname }}</td>
                        <td scope="row">{{ provider.lastname }}</td>
                        <td scope="row">{{ provider.desc }}</td>
                        <td scope="row">{{ provider.status }}</td>
                        <td scope="row">
                            <a routerLink="details/{{provider.id}}" routerLinkActive="active" class="btn btn-info btn-xs my-1 mx-1">More Info...</a>
                            <a routerLink="edit/{{provider.id}}" routerLinkActive="active" class="btn btn-success btn-xs my-1 mx-1">Edit</a>
                            <a href="#myModal{{provider.id}}" class="btn btn-danger btn-xs my-1 mx-1" data-toggle="modal">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Window - Confirmation -->
                    <div id="myModal{{provider.id}}" class="modal fade">
                    	<div class="modal-dialog modal-confirm">
                    	  <div class="modal-content">
                    		<div class="modal-header">
                    		  <div class="icon-box">
                    			<i class="material-icons">&#xE5CD;</i>
                    		  </div>
                    		  <h4 class="modal-title">Are you sure?</h4>
                    		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    		</div>
                    		<div class="modal-body">
                    		  <p>Do you really want to delete these records?  This process cannot be undone.</p>
                    		</div>
                    		<div class="modal-footer">
                    		  <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Cancel</button>
                    		  <a routerLink="delete/{{provider.id}}" routerLinkActive="active" type="button" class="btn btn-danger">Delete</a>
                    		</div>
                    	  </div>
                    	</div>
                    </div>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</section>
